.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title, .entry-title a {
	text-align: center;
	letter-spacing: 0.15rem;
	color: #000;
}

.entry-meta, .entry-meta a, .cat-links, .cat-links a, .comments-link {
	color: lighten($primary-color, 40);
	font-size: 0.625rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	text-align: center;
}
