.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

//text at checkbox and on top of comment form
.comment-form-cookies-consent label, .comment-notes {
	display: inline;
	font-size: 0.75rem;
	text-transform: none;
	letter-spacing: 0.05em;
}


.comments-area {
	ol {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		ol {
			padding-left: 2rem;
		}
		article { // Comment around each box
			background-color: lighten($beige, 4);
			margin-bottom: 1rem;
			padding: 1rem;
		}
	}
}

.comment-reply-link {
	@include outline-block-link;
}

.comment-respond {
	background-color: $beige;
	padding: 2rem;
	h3 { // #reply title
		margin-top: 0;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea {
		color: $color__text-input;
		border: none;
		padding: 4px;
		background: $white;
		&:focus {
			color: $color__text-input-focus;
		}
	}
	.form-submit {
		margin-bottom: 0;
	}
}

.comment-meta {
	display: flex;
	align-items: baseline;
	.comment-author {
		display: flex;
		align-items: center;
		b {
			margin-right: 0.5rem;
		}
		img {
			margin-right: 0.5rem;
			background-color: white;
		}
	}
	.comment-metadata {
		text-align: right;
		text-transform: uppercase;
		font-size: 0.75rem;
		font-weight: 600;
		a {
		  color: lighten($primary-color, 30);
	  }
	}
}
