.footer-widget-area {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;

  @media screen and (max-width: $break-large) {
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  @media screen and (max-width: $break-tablet) {
    display: flow-root;
  }

}

.colophon {
  font-size: 0.7rem;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 2rem;
  color: lighten($primary-color, 30);
  a, {
    color: lighten($primary-color, 30);

    &:hover:visited:focus:active {
      color: lighten($primary-color, 30);
    }
  }

}
