p {
	margin-bottom: 1.5em;
}

figcaption {
	text-align: center;
	font-size: 0.875rem;
	font-style: italic;
	color: lighten($primary-color, 40%);
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 1em 0;
	padding-left: 2rem;
	border-width: 0 0 0 4px;
	border-color: #F4EFE7;
	border-style: solid;
}

blockquote p {
	margin-bottom: 1rem;
	font-style: italic;
	font-weight: 600;
	font-size: 1.5rem;
}

cite{
	font-style: normal;
	font-size: 0.875rem;
	color: rgba(32,29,29,.65);
}

/* Pull quotes left + right */
.pull {
	border: none;
	padding-left: 0;
	width: 15rem;
}

.left {
	margin: 2rem 3rem 2rem 0;
	float: left;
}

.right {
	margin: 2rem 0 2rem 3rem;
	float: right;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
}

abbr,
acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
