.site-header {
  display: none;
  position: fixed;
  width: 100%;
  background-color: $white;
  div {
    width: 95%;
    margin: auto;
  }
}

.site-title { // Styles also site title in Footer
  font-family: $font__branding;
  font-size: 2rem;
  font-weight: 400;

  a {
    text-decoration: none;
    color: $primary-color;
  }
}
