input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: none;
	padding: 4px;
	background: $beige;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

label {
	display: block;
	font-size: 0.75rem;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 600;
	color: lighten($primary-color, 30);
}
