.content-sidebar {
	display: grid;
	grid-template-columns: auto ($size__site-sidebar);
	grid-template-areas:
		"content sidebar";
	grid-gap: 2rem;
	margin: 0 auto 4em;
	padding: 0 1.5rem 1.5rem;
	width: 80%;

	@media screen and (min-width: $break-xlarge){
		width: 75%;
	}

	@media screen and (max-width: $break-xlarge){
		width: 90%;
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: auto;
		grid-template-areas:
			"content"
			"sidebar";
			width: 100%;
	}
}

.site-main {
	grid-area: content;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

@import "no-sidebar";
