.site {
	display: grid;
	grid-template-columns: auto ($size__site-sidebar);
	grid-template-areas:
		"header header"
		"main sidebar"
		"footer footer";
	grid-gap: 2rem;
	margin: auto;
	padding: 0 1.5rem 1.5rem;
	width: 80%;

	@media screen and (min-width: $break-xlarge){
		width: 75%;
	}

	@media screen and (max-width: $break-xlarge){
		width: 90%;
	}

	@media screen and (max-width: 768px) {
		grid-template-areas:
			"header header"
			"main main"
			"sidebar sidebar"
			"footer footer";
			width: 100%;
	}
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
