.grid {
  width: 80%;
  margin: 0 auto 4em;

  main {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: 2rem;

    article {
      text-align: center;
      width: 100%;
      background-color: $white;
      @include transition;

      h2 {
        margin: 0.5rem 0;
      }

      .post-thumbnail {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 275px;
        margin: 0 0 1rem 0;

        img {
          @include transition;
          min-width: 100%;
          min-height: 100%;
        }
      }
      &:hover {
        img {
          transform: scale(1.05);
        }
        h2 {
          text-decoration: underline;
        }
      }
    }
  }
  @media screen and (min-width: $break-xlarge) {
    width: 80%;
  }
  @media screen and (max-width: $break-xlarge - 1) {
    width: 80%;
  }
  @media screen and (max-width: $break-large) {
    main {
      grid-template: 1fr / 1fr 1fr;

      article {
        .post-thumbnail {
          height: 220px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    width: 90%;

    main {
      display: flow-root;

      article {
        .post-thumbnail {
          height: 275px;
        }
      }
    }
  }
}
